@use '@/utils/styles/_variables.scss' as *;

.section {
	width: 100%;
	height: 100dvh;
	background: $secondary;
	padding: 30px 20px 36px;
	text-align: center;
}

.title {
	font-weight: 500;
	font-size: 48px;
}

.subtitle {
	line-height: 110%;
	margin-top: 16px;
}
