.cardInfo {
	position: relative;
	z-index: 4;
	display: flex;
	flex-direction: column;
	user-select: none;

	&_default {
		gap: 30px;
	}

	&_wishList {
		gap: 16px;
	}

	&_stopList {
		gap: 30px;
	}
}

.imageContainer {
	position: relative;
}

.image {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	object-fit: cover;
	object-position: center;
}

.img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	object-fit: contain;
}

.content {
	display: flex;
	flex-direction: column;

	&_default {
		gap: 16px;
	}

	&_wishList {
		gap: 6px;
		margin-bottom: 10px;
	}

	&_stopList {
		gap: 20px;
	}
}

.title {
	font-weight: 500;
	line-height: 87%;

	&_default {
		color: #000;
		font-size: 24px;
	}

	&_wishList {
		font-size: 32px;
		color: green;
	}

	&_stopList {
		font-size: 32px;
		color: red;
	}

	&_stopListAccent {
		display: block;
		color: gray;
		margin-top: 5px;
	}
}

.description {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	white-space: pre-line;
	letter-spacing: -0.5px;

	&_accent {
		display: inline-block;
		font-weight: 700;
	}

	&_decorate {
		padding: 15px;
		padding-bottom: 17px;
		border-radius: 20px;
	}
}

.button {
	display: none;
	max-width: 158px;
	max-height: 46px;
	box-sizing: border-box;

	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	color: #fff;
	pointer-events: visible;
}
