@use '@/utils/styles/_variables.scss' as *;

.bar {
	background: #ffffff33;
	border-radius: 20px;
	width: 100%;
	height: 8px;
}

.progress {
	background: $primary;
	border-radius: 20px;
	height: 8px;
	border-radius: 20px;
	transition: width 0.3s ease;
}
