@use '@/utils/styles/_variables.scss' as *;

.button {
	width: 100%;
	height: 52px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	font-size: 20px;
	font-weight: 500;

	&:focus-visible {
		outline: none;
	}
}

.primary {
	background: $secondary;
	color: $primary-text;
}

.circle {
	width: 52px;
	height: 52px;
	background-color: $secondary;
}

.circle-secondary {
	width: 36px;
	height: 36px;
	background-color: $primary;
}
