.cardsContent {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 100px;
	margin: 0 auto;
	width: 100%;
	max-width: 720px;
	height: fit-content;
	z-index: 1;
	opacity: 1;
	visibility: visible;
	transition: all 0.6s linear;

	@media (max-width: 1024px) and (min-height: 1100px) {
		top: 55%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.cardsTrack {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 636px;
}

div.cardWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	perspective: 1000px;

	&_last {
		transform: translateY(31px) scaleX(0.79);
		background-color: #3f73ff;
	}

	&_oneBeforeLast {
		transform: translateY(15px) scaleX(0.89);
		background-color: #5d91ff;
	}
}

.buttons {
	z-index: 10; //? 20
	position: absolute;
	bottom: 230px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	pointer-events: none; // чтобы кнопки не мешали свайпу

	// hide
	& button:first-of-type {
		transition: transform 2.4s linear;
		transform: translateX(250%);
	}

	& button:last-of-type {
		transition: transform 2.4s linear;
		transform: translateX(-250%);
	}

	& > button {
		pointer-events: auto; // возвращаем кликабельность кнопкам
	}
}

.showCardsAnimation {
	transition: transform 0.8s linear;

	&__hideContainer {
		z-index: -1;
		transform: translateX(-50%) translateY(200%);
		visibility: hidden;
		transition: all 0.8s ease-in-out;
	}

	&__showButtons {
		& button:first-of-type {
			transition: transform 0.5s ease-out;
			transform: translateX(0);
		}

		& button:last-of-type {
			transition: transform 0.5s ease-out;
			transform: translateX(0);
		}
	}

	&__finalContainer {
		&_left {
			transform: translate(-320%, -50%) rotate(-30deg);

			transition:
				transform 1s linear,
				opacity 1.1s linear;
		}

		&_right {
			transform: translate(320%, -50%) rotate(30deg);

			transition:
				transform 1.8s linear,
				opacity 1.1s linear;
		}
	}
}

.animationCards {
	transition: transform 0.4s linear;

	&__toList_left {
		transform-origin: 35% center 10px;
		transform: rotate3d(0, 1, 0, -180deg) scaleX(-1);
		transition: transform 0.28s linear;
		//animation: swipeLeft .5s ease-in-out;
		/*  transform:  rotate3d(1, 1, 0, 180deg) scaleX(-1) rotateZ(90deg); */
	}

	&__toList_right {
		//animation: swipeRight .5s ease-in-out;
		transform-origin: 65% center 10px;
		transform: rotate3d(0, 1, 0, 180deg) scaleX(-1);
		transition: transform 0.28s linear;
		/*     transform: rotate3d(1, 1, 0, -180deg) scaleX(-1) rotateZ(90deg); */
	}

	&__invisible {
		opacity: 0;
		visibility: hidden;
		//display: none;
		//transition: opacity .5s linear, visibility .8s linear;
		pointer-events: none;

		&_right {
			transition: all 0.7s linear;
			transform: translate(350%, 0) rotate(40deg);
		}

		&_left {
			transition: all 0.7s linear;
			transform: translate(-350%, 0) rotate(-40deg);
		}
	}

	&__swipe_left {
		transform: translate(-320%, 0) rotate(-40deg);
		transition: transform 0.65s linear;
	}

	&__swipe_right {
		transform: translate(320%, 0) rotate(40deg);
		transition: transform 0.65s linear;
	}
}

.hintAnimation {
	animation: hintSwipe 2s ease-in-out;

	&__button {
		z-index: 20;

		& button:first-of-type {
			animation: hintButtonTransform 1.5s ease-in-out;

			animation-delay: 1s;
		}

		& button:last-of-type {
			animation: hintButtonTransform 1.5s ease-in-out;
		}
	}
}

@keyframes hintSwipe {
	0% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}

	25% {
		transform: translateX(60px) translateY(10px) rotate(16deg);
	}

	75% {
		transform: translateX(-60px) translateY(-10px) rotate(-16deg);
	}

	100% {
		transform: translateX(0) translateY(0) rotate(0deg);
	}
}

@keyframes hintButtonTransform {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes hintButtonVisibility {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	50% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}
