@use '@/utils/styles/_variables.scss' as *;

.main {
	padding: 24px;
	display: grid;
	gap: 16px;
	overflow-y: auto;
	position: relative;
}

.input {
	padding: 10px 12px;
	font-size: 16px;
	background: transparent;
	color: $primary-text;

	&:focus-visible {
		outline: 2px solid #2d2c38;
	}
}

.preview {
	font-size: 16px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.dice {
	display: inline;
	padding: 2px 6px;
	border-radius: 6px;
	border: none;
	background: #8769b3;
	color: $primary-text;
	font-weight: 500;
	cursor: pointer;
}

.toggleButton {
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: #2d2c38;
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
}

.toggleButton:hover {
	background: #3a3749;
}
