@use '@/utils/styles/_variables.scss' as *;

.main {
	padding: 24px;
	display: grid;
	gap: 16px;
}

.input {
	padding: 10px 12px;
	font-size: 16px;
}

.preview {
	font-size: 16px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.dice {
	display: inline;
	padding: 2px 6px;
	border-radius: 6px;
	border: none;
	background: #8769b3;
	color: $primary-text;
	font-weight: 500;
	cursor: pointer;
}
