@use '@/utils/styles/_variables.scss' as *;

.main {
	padding: 8px 16px 16px;
	display: grid;
	gap: 8px;
	overflow-y: auto;
	position: relative;
	max-height: 100vh;
}

.input {
	padding: 10px 12px;
	font-size: 16px;
	background: transparent;
	color: $primary-text;
	border-radius: 12px;
	height: calc(100vh - 32px - 8px);
	resize: vertical;

	&:focus-visible {
		outline: 2px solid #2d2c38;
	}
}

.preview {
	font-size: 16px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.dice {
	display: inline;
	padding: 2px 6px;
	border-radius: 6px;
	border: none;
	background: #8769b3;
	color: $primary-text;
	font-weight: 500;
	cursor: pointer;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	height: 32px;
}

.title {
	font-size: 24px;
	font-weight: 600;
	color: $primary-text;
}

.toggleButton {
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background: #2d2c38;
	cursor: pointer;
	border: 1px solid $secondary-text;
}

.toggleButton:hover {
	background: #3a3749;
}
