.button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 80px;
	height: 80px;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	z-index: 4;

	& svg {
		width: 32px;
		height: 32px;
		transform: scale(1);
		transition: transform 0.2s ease-in;
	}

	/*   &:focus-visible {
    outline: 2px solid #fff;
  } */

	&:disabled {
		backdrop-filter: blur(50px);
		opacity: 0.1;
		cursor: default;
	}
}
