@use '@/utils/styles/_variables.scss' as *;

.gameInfo {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	z-index: 1;
	padding: 20px;
	width: 100%;
}

.upper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.text {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.count {
	font-size: 20px;
}

.subtitle {
	font-size: 14px;
	color: $secondary-text;
}
