@use '@/utils/styles/_variables.scss' as *;

.section {
	padding: 30px 20px 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: $secondary;
	min-height: 100dvh;
	width: 100vw;
	overflow: hidden;
}

.card {
	position: relative;
	width: 205px;
	height: 360px;
	border-radius: 16px;
	overflow: hidden;
	transition: transform 0.3s ease;

	> img {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.info {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
}

.helpButton {
	position: absolute;
	bottom: 0;
	right: 0;
}

li.slide {
	width: auto !important;
}
